* {
    margin: 0;
}


nav{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    justify-content: space-around;
}

nav .divider{
    flex: 1; /* Take the rest space available */
}

#header{
    background-color: #f5ba13;
    padding: 20px;
    color: white;

}
h1, h2, h3, h4, p, a{
    font-family: arial;
}

body{
    background-color: #eee;
}

#todoitems{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap:2em;
}

.note{
    padding: 25px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.22);
    width: 250px;
    background-color: #ffffff;

}

.noteHeader{
    font-weight: bold;
}

#addNote{
    position: fixed;
    bottom: 1em;
    right: 1em;
    /*padding: 50px 75px 50px 75px;*/
    /*padding: 1em 1.2em 1em 1.2em;*/
    width: 15vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    font-size: 5em;
    background-color: #f5ba13;
    color: white;
    cursor: pointer;
}
#addNote:hover{
    background-color: #c29004;
}