* {
    margin: 0;
}


nav{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    justify-content: space-around;
}

nav .divider{
    flex: 1; /* Take the rest space available */
}

#header{
    background-color: #f5ba13;
    padding: 20px;
    color: white;

}
h1, h2, h3, h4, p, a{
    font-family: arial;
}

body{
    background-color: #eee;
}